@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Tektur:wght@400;700&display=swap");
.arrows {
  width: 60px;
  height: 80px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 40px;
}

.arrows path {
  stroke: white;
  fill: transparent;
  stroke-width: 4px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
.eng {
  display: block;
}
.hu {
  display: none;
}
* {
  box-sizing: border-box;
}
p {
  text-align: justify;
}
a {
  color: white;
  text-decoration: none;
}
hr {
  border: 1px solid #93a1bd;
  width: 100%;
  margin: 0;
}
h1 {
  margin: 0px;
  font-size: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

a {
  position: relative;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 0px;
  left: 0%;
  background: aliceblue;
  transition: width 0.5s ease;
}

a:hover:after {
  width: 100%;
  left: 0%;
  background: #4569b0;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1.5px solid #93a1bd;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  z-index: 9999;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border: 1px solid #132331;
  border-radius: 100%;
  background-color: #93a1bd;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width 0.5s, height 0.5s, opacity 0.5s;
  z-index: 9999;
}

body {
  font-family: Tektur;
  color: aliceblue;
  font-size: 14px;
  background-color: aliceblue;
  margin: 0;
  width: 100vw;
  cursor: none;
}

.chat-entry {
  display: flex;
  margin: 5px;
  flex-direction: column;
  justify-self: start;
  max-width: 80%;
  min-width: min-content;
  font-size: 14px;
  align-items: flex-start;
}

.chat-entry:nth-child(odd) {
  align-items: flex-end;
  margin-left: auto;
  width: fit-content;
}

.chat-entry:nth-child(2n + 1) .message {
  background-color: #93a1bd;
  color: aliceblue;
  border-radius: 15px 0 15px 15px;
}

.sender {
  font-weight: bold;
  margin: 2px;
}
.message {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  background: white;
  display: inline-block;
  padding: 10px;

  width: fit-content;
  text-align: justify;
  border-radius: 0 15px 15px 15px;
  color: rgb(45, 67, 86);
}

#options-container {
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
  justify-content: space-evenly;
}

button {
  background: #00000000;
  font-size: 12px;
  cursor: pointer;
}

.welcome {
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.02), rgba(7, 25, 82, 0.4)),
    url("pictures/athen1.png");
  background-size: cover;
  background-position: center center;
  width: 100vw;
  padding: 0 4vw;
  height: 103vh;
  opacity: 0;
  margin-top: -90px;
  margin-bottom: 50px;
  animation: expand 2s ease-in-out forwards;
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-size: 1000px 1000px;
  mask-position: center;
}

@keyframes expand {
  0% {
    opacity: 0;
    mask-size: 0px 0px;
  }
  100% {
    opacity: 1;
    mask-size: 2000px 2000px;
  }
}

header {
  width: 100vw;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  z-index: 999;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  margin: 3px 15px;
  height: 2.5em;
  width: 8.5em;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(6em, 0em);
  position: absolute;
  height: 1.5em;
  width: 1.5em;

  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.2em #ffbb52;
  transition: background-color 250ms, border-color 250ms,
    transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.2em white;
  transform: translate(0.75em, 0em);
}

.sun-icon {
  position: absolute;
  height: 2em;
  width: 6em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 2em;
  width: 6em;
  opacity: 1;
  transform: translate(-1.5em, 0em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 0em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 2em;
  width: 6em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 2em;
  width: 6em;
  opacity: 0;

  transition: opacity 150ms, transform 500ms cubic-bezier(0.26, 2.5, 0.46, 0.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(3.5em, 0em) rotate(-15deg);
}

#scroll-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 22px;
  width: 100%;
  background: linear-gradient(to right, #ffffff, #93a1bd);
  transform-origin: left;
  transition: transform 0.3s linear;
}

header div {
  align-items: center;
  display: flex;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header h1,
header p {
  margin: 0;
  font-size: 16px;
  text-shadow: 0 0 4px #000000;
}
header h1 {
  font-size: 30px;
  margin: 5px 15px;
}

header a {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.left-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 9999;
}
.text-1 {
  position: relative;
  opacity: 0;
  transform: rotateY(-90deg);
  animation: slideLeft 2s cubic-bezier(0.23, 1, 0.32, 1) forwards 2s;
}
.text-1 p {
  margin: 0;
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: rotateY(-90deg);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.large-text {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 0.8;
  font-size: 75px;
  font-weight: 700;
  letter-spacing: 10px;
  text-shadow: 0 4px 1px #132331;
}

.text-2 {
  width: 70%;
  margin-bottom: -50px;
  margin-left: auto;
  position: relative;
  right: -100%;
  animation: slideFromRight 1s forwards 3s;
}
.text-2 p {
  text-shadow: 0 2px 2px #132331;
}

@keyframes slideFromRight {
  to {
    right: 0;
  }
}

.text-2 p,
.contact {
  font-size: 22px;
  text-shadow: 0 2px 1px #000000;
}

.contact,
button {
  display: inline-block;
  padding: 5px;
  border: 1px solid #93a1bd;
  border-radius: 15px;
  margin: 2px;
}

.contact:hover {
  background-color: #93a1bd;
}

.contact p {
  margin: 5px;
}
#miro {
  color: #132331;
  padding: 30px;
  margin-top: 15px;
}
.question {
  display: none;
}
#about {
  display: flex;

  align-items: flex-start;

  margin: -15px 0;
  flex-wrap: wrap;
}

#chat-container {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 15px;
}
#answer-container {
  max-height: 100vh;
  padding: 0 10px;
  overflow: auto;
  border-radius: 15px;
  border: 1px solid #93a1bd;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
#chat-container img {
  width: 40px;
  border-radius: 50%;
  margin: 0 5px;
}

.introduction {
  width: 65%;
}

.skills {
  margin: 50px -15px;
}

.text {
  padding: 0 15px;
}

.text p {
  line-height: 2.5;
  margin: 5px 0;
}

.details {
  margin: auto;
  width: fit-content;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details h2 {
  margin-bottom: 10px;
}

.details ul {
  list-style-type: none;
  padding: 0;
}

.details li {
  line-height: 1.6;
}

.skillset {
  margin: 0 25px;
}
.skillset:first-child {
  margin-left: 0;
}
.skillset:last-child {
  margin-right: 0;
}
.skillset div {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skillset img {
  width: 100px;
}
.skillset p {
  display: none;
}


.skillset p {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 25vw;
  z-index: 1;
  font-size: 12px;
  line-height: 2;
}
.skill {
  display: inline-block;
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #93a1bd;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.skill:hover {
  transform: scale(1.15);
}

#projects div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 5px;
}
.skills h1,
#projects h1 {
  padding: 0 15px;
}

.project-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 20px 15px 50px 15px;
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.project-description {
  padding: 15px 10px;
  text-align: center;
}
.project-description p,
.project-description h2 {
  color: #132331;
  margin: 5px;
}

.project-links {
  margin-bottom: 15px;
}

.project-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #132331;
  transition: color 0.5s linear;
}

.project-links a:hover {
  color: #93a1bd;
  font-weight: 700;
}

.contact-page {
  width: 80%;
  margin: auto;
  color: #132331;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.form-group input[type="submit"] {
  background-color: #93a1bd;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
}

.form-group input[type="submit"]:hover,
.resume:hover {
  background-color: #4569b0;
}

.social-links {
  margin-top: 30px;
  text-align: center;
}

.social-links a {
  color: #93a1bd;
  margin: 0 10px;
  text-decoration: none;
}

.social-links p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #about {
    display: flex;
  }
  .large-text {
    font-size: 70px;
    font-weight: 400;
  }

  .text-2 p,
  .contact {
    font-size: 20px;
  }

  .about .text {
    width: 100%;
  }

  #projects div {
    flex-direction: column;
  }
  .project-card {
    width: auto;
  }
  .contact-page {
    width: auto;
    margin: 50px 15px;
  }
  #chat-container {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #about {
    display: flex;
  }
  .cursor,
  .cursor2 {
    display: none;
  }
  body {
    cursor: auto;
  }

  #scroll-border {
    height: 26px;
  }
  header {
    top: -41px;
  }
  .large-text {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: inherit;
  }
  #miro {
    padding: 5px;
  }
  header h1,
  header p {
    margin: 5px;
    font-size: 11px;
  }
  .right-box h1 {
    font-size: 24px;
  }
  .text-2 p,
  .contact {
    font-size: 18px;
  }
  .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .text {
    width: 100%;
  }

  #chat-container {
    width: 100%;
  }
  #options-container {
    top: 19px;
  }

  #projects div {
    flex-direction: column;
  }
  .project-card {
    width: auto;
  }
  .contact-page {
    width: auto;
    margin: 50px 15px;
  }
  .skillset {
    margin: 0px 10px;
  }
  .skillset div {
    display: flex;
  }
}
